.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.text-left{
  text-align: left;
}

.text-middle{
  text-align: middle;
}

.text-right{
  text-align: right;
}

.left{
  padding: 10px 30px;
  border-radius: 20px 0 0 20px;
  border:none;
  background-color: #008cba;
  color: #fff;
}

.middle{
  padding: 10px 30px;
  border-right: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-top: none;
  border-bottom: none;
  background-color: #008cba;
  color: #fff;
}

.right{
  padding: 10px 30px;
  border-radius: 0 20px 20px 0;
  border:none;
  background-color: #008cba;
  color: #fff;
}

.active{
  display: inline-block;
  background-color: #fa8072;
}

.left, .middle, .right{
  display: inline-block;
}

.left:hover, .middle:hover, .right:hover{
  cursor: pointer;
}

button:active, :focus {
  outline: 0;
  outline-offset: 0;
}

button:hover{
  cursor: pointer;
}
